<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="ConString" value="Provider=sqloledb;Server=DESKTOP-123TQML\SQLEXPRESS; Database=BBVASysView;User Id=Onet_Sa;Password=Onet_Sa;"/>
	</appSettings>

</configuration>